{{ 'component-about-app.css' | asset_url | stylesheet_tag }}

<div class="section-about-app">
  <div class="page-width">
    {%- for block in section.blocks -%}
      {% case block.type %}
        {%- when 'heading' -%}
          <h2
            class="about-app__heading inline-richtext {{ block.settings.heading_size }}"
            {{ block.shopify_attributes }}
          >
            {{ block.settings.heading }}
          </h2>
        {%- endcase -%}
      {%- endfor -%}
    <div class="about-app__grid">
      <div class="about-app__media-item">
        <div class="about-app__media">
          <img src="https://cdn.shopify.com/s/files/1/0674/7750/4191/files/about-app-bg.png?v=1735037198" width="100%" height="100%">
        </div>
      </div>
      <div class="about-app__text-item">
        <div class="about-app__content">
          {%- for block in section.blocks -%}
            {% case block.type %}
              {%- when 'caption' -%}
                <div class="main-content">
                <p
                  class="about-app__text about-app__text--caption {{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }} {{ block.settings.text_style }}"
                  {{ block.shopify_attributes }}
                >
                  {{ block.settings.caption | escape }}
                </p>
                </div>
              {%- when 'text' -%}
                <div class="main-content">
                  <div class="about-app__text rte {{ block.settings.text_style }}" {{ block.shopify_attributes }}>
                    {{ block.settings.text }}
                  </div>
                  <div class="about-app__services">
                    <div class="service-item item-icon-1">Access to 50+ Home & Gym Programs for Strength, Hypertrophy, Cardio, Warmup & Mobility</div>
                    <div class="service-item item-icon-2">Enjoy Holly's Dietician Approved Recipe Library (250+ recipes with new ones added monthly!)</div>
                    <div class="service-item item-icon-3">Stay Motivated with Workout and Progress Tracking, Personal Bests, and Detailed Volume and Lifting Analytics</div>
                    <div class="service-item item-icon-4">Monitor Your Energy Expenditure, Track Your Steps, and Record Your Weight Daily to stay on track with your goals</div>
                    <div class="service-item item-icon-5">Receive Training Insights and Resources from Holly and Join a Private Support Community with women on the same journey</div>
                  </div>
                </div>
              {%- when 'button' -%}
                {%- if block.settings.button_label != blank -%}
                <div class="button-wrapper">
                  <a href="#membership-section" class="button button--primary" id="about-app-button">
                    Join Us
                  </a>
                </div>
                {%- endif -%}
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.about-app.name",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.about-app.settings.image.label"
    },
    {
      "type": "select",
      "id": "height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.about-app.settings.height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.about-app.settings.height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.about-app.settings.height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.about-app.settings.height.options__4.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.about-app.settings.height.label"
    },
    {
      "type": "select",
      "id": "desktop_image_width",
      "options": [
        {
          "value": "small",
          "label": "t:sections.about-app.settings.desktop_image_width.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.about-app.settings.desktop_image_width.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.about-app.settings.desktop_image_width.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.about-app.settings.desktop_image_width.label",
      "info": "t:sections.about-app.settings.desktop_image_width.info"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "image_first",
          "label": "t:sections.about-app.settings.layout.options__1.label"
        },
        {
          "value": "text_first",
          "label": "t:sections.about-app.settings.layout.options__2.label"
        }
      ],
      "default": "image_first",
      "label": "t:sections.about-app.settings.layout.label",
      "info": "t:sections.about-app.settings.layout.info"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top",
          "label": "t:sections.about-app.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "middle",
          "label": "t:sections.about-app.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.about-app.settings.desktop_content_position.options__3.label"
        }
      ],
      "default": "top",
      "label": "t:sections.about-app.settings.desktop_content_position.label"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.about-app.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.about-app.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.about-app.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.about-app.settings.desktop_content_alignment.label"
    },
    {
      "type": "select",
      "id": "content_layout",
      "options": [
        {
          "value": "no-overlap",
          "label": "t:sections.about-app.settings.content_layout.options__1.label"
        },
        {
          "value": "overlap",
          "label": "t:sections.about-app.settings.content_layout.options__2.label"
        }
      ],
      "default": "no-overlap",
      "label": "t:sections.about-app.settings.content_layout.label"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.multirow.settings.container_color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.animation.content"
    },
    {
      "type": "select",
      "id": "image_behavior",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.animation.image_behavior.options__1.label"
        },
        {
          "value": "ambient",
          "label": "t:sections.all.animation.image_behavior.options__2.label"
        },
        {
          "value": "zoom-in",
          "label": "t:sections.all.animation.image_behavior.options__4.label"
        }
      ],
      "default": "none",
      "label": "t:sections.all.animation.image_behavior.label"
    },
    {
      "type": "header",
      "content": "Mobile layout"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.about-app.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.about-app.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.about-app.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.about-app.settings.mobile_content_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.about-app.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.about-app.blocks.heading.settings.heading.default",
          "label": "t:sections.about-app.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.heading_size.options__4.label"
            },
            {
              "value": "hxxl",
              "label": "t:sections.all.heading_size.options__5.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "caption",
      "name": "t:sections.about-app.blocks.caption.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "default": "t:sections.about-app.blocks.caption.settings.text.default",
          "label": "t:sections.about-app.blocks.caption.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "subtitle",
              "label": "t:sections.about-app.blocks.caption.settings.text_style.options__1.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.about-app.blocks.caption.settings.text_style.options__2.label"
            }
          ],
          "default": "caption-with-letter-spacing",
          "label": "t:sections.about-app.blocks.caption.settings.text_style.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "small",
              "label": "t:sections.about-app.blocks.caption.settings.caption_size.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.about-app.blocks.caption.settings.caption_size.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.about-app.blocks.caption.settings.caption_size.options__3.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.about-app.blocks.caption.settings.caption_size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.about-app.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "t:sections.about-app.blocks.text.settings.text.default",
          "label": "t:sections.about-app.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.about-app.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.about-app.blocks.text.settings.text_style.options__2.label"
            }
          ],
          "default": "body",
          "label": "t:sections.about-app.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.about-app.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "t:sections.about-app.blocks.button.settings.button_label.default",
          "label": "t:sections.about-app.blocks.button.settings.button_label.label",
          "info": "t:sections.about-app.blocks.button.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.about-app.blocks.button.settings.button_link.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "t:sections.about-app.blocks.button.settings.outline_button.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.about-app.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
