{{ 'component-about-challenge.css' | asset_url | stylesheet_tag }}

<div class="section-about-challenge">
  <div class="page-width">
    {%- for block in section.blocks -%}
      {% case block.type %}
        {%- when 'heading' -%}
          <h2
            id="about-challenge-section"
            class="about-challenge__heading"
            {{ block.shopify_attributes }}
          >
            {{ block.settings.heading }}
          </h2>
        {%- endcase -%}
      {%- endfor -%}
    <div class="about-challenge__grid">
      <div class="about-challenge__media-item">
        <div class="about-challenge__media">
          <img src="{{ settings.image_cdn_path }}about-challenge.png?v=1736525015" width="100%" height="100%">
        </div>
      </div>
      <div class="about-challenge__text-item">
        <div class="about-challenge__content">
          <div class="main-content">
          {%- for block in section.blocks -%}
            {% case block.type %}
              {%- when 'caption' -%}
                  <h3 class="about-challenge__caption">
                    {{ block.settings.caption | escape }}
                  </h3>
              {%- when 'text' -%}
                  <div class="about-challenge__text rte">
                    <!--{{ block.settings.text }}-->
                    <p>
                      Become the best version of yourself with expert <br class="m-break">guidance from <br class="d-break">
                      Holly T. Baxter, an Accredited Practicing Dietitian and IFBB Bikini Pro. <br class="d-break">
                      This challenge is designed to help you improve your health, mindset,  <br class="d-break">
                      and overall well-being, empowering you to “Love Yourself Fit”.
                    </p>
                    <p>
                      For just $99, you'll receive a comprehensive DIY program, with all <br class="d-break">
                      the tools you need to <strong>elevate your fitness journey and achieve lasting results.</strong> 
                    </p>
                  </div>
                  <ul class="about-challenge__services">
                    <li class="service-item item-1"><span class="red">Duration:</span> 6 Weeks</li>
                    <li class="service-item item-2"><span class="red">Levels:</span> Beginner/Intermediate and Advanced</li>
                    <li class="service-item item-3"><span class="red">Price:</span> <span class="challenge-price">$99 USD</span></li>
                    <li class="service-item item-4"><span class="red">Prize:</span> $1,000 USD Cash and other goodies!</li>
                  </ul>
              {%- when 'button' -%}
                {%- if block.settings.button_label != blank -%}
                <div class="button-wrapper">
                  <a href="#" class="button button--primary biafit-buy-button" id="about-challenge-button">
                    Join Now
                  </a>
                </div>
                {%- endif -%}
            {%- endcase -%}
          {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.about-challenge.name",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.about-challenge.settings.image.label"
    },
    {
      "type": "select",
      "id": "height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.about-challenge.settings.height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.about-challenge.settings.height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.about-challenge.settings.height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.about-challenge.settings.height.options__4.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.about-challenge.settings.height.label"
    },
    {
      "type": "select",
      "id": "desktop_image_width",
      "options": [
        {
          "value": "small",
          "label": "t:sections.about-challenge.settings.desktop_image_width.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.about-challenge.settings.desktop_image_width.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.about-challenge.settings.desktop_image_width.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.about-challenge.settings.desktop_image_width.label",
      "info": "t:sections.about-challenge.settings.desktop_image_width.info"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "image_first",
          "label": "t:sections.about-challenge.settings.layout.options__1.label"
        },
        {
          "value": "text_first",
          "label": "t:sections.about-challenge.settings.layout.options__2.label"
        }
      ],
      "default": "image_first",
      "label": "t:sections.about-challenge.settings.layout.label",
      "info": "t:sections.about-challenge.settings.layout.info"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top",
          "label": "t:sections.about-challenge.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "middle",
          "label": "t:sections.about-challenge.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.about-challenge.settings.desktop_content_position.options__3.label"
        }
      ],
      "default": "top",
      "label": "t:sections.about-challenge.settings.desktop_content_position.label"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.about-challenge.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.about-challenge.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.about-challenge.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.about-challenge.settings.desktop_content_alignment.label"
    },
    {
      "type": "select",
      "id": "content_layout",
      "options": [
        {
          "value": "no-overlap",
          "label": "t:sections.about-challenge.settings.content_layout.options__1.label"
        },
        {
          "value": "overlap",
          "label": "t:sections.about-challenge.settings.content_layout.options__2.label"
        }
      ],
      "default": "no-overlap",
      "label": "t:sections.about-challenge.settings.content_layout.label"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.multirow.settings.container_color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.animation.content"
    },
    {
      "type": "select",
      "id": "image_behavior",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.animation.image_behavior.options__1.label"
        },
        {
          "value": "ambient",
          "label": "t:sections.all.animation.image_behavior.options__2.label"
        },
        {
          "value": "zoom-in",
          "label": "t:sections.all.animation.image_behavior.options__4.label"
        }
      ],
      "default": "none",
      "label": "t:sections.all.animation.image_behavior.label"
    },
    {
      "type": "header",
      "content": "Mobile layout"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.about-challenge.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.about-challenge.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.about-challenge.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.about-challenge.settings.mobile_content_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.about-challenge.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.about-challenge.blocks.heading.settings.heading.default",
          "label": "t:sections.about-challenge.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.heading_size.options__4.label"
            },
            {
              "value": "hxxl",
              "label": "t:sections.all.heading_size.options__5.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "caption",
      "name": "t:sections.about-challenge.blocks.caption.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "default": "t:sections.about-challenge.blocks.caption.settings.text.default",
          "label": "t:sections.about-challenge.blocks.caption.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "subtitle",
              "label": "t:sections.about-challenge.blocks.caption.settings.text_style.options__1.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.about-challenge.blocks.caption.settings.text_style.options__2.label"
            }
          ],
          "default": "caption-with-letter-spacing",
          "label": "t:sections.about-challenge.blocks.caption.settings.text_style.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "small",
              "label": "t:sections.about-challenge.blocks.caption.settings.caption_size.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.about-challenge.blocks.caption.settings.caption_size.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.about-challenge.blocks.caption.settings.caption_size.options__3.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.about-challenge.blocks.caption.settings.caption_size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.about-challenge.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "t:sections.about-challenge.blocks.text.settings.text.default",
          "label": "t:sections.about-challenge.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.about-challenge.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.about-challenge.blocks.text.settings.text_style.options__2.label"
            }
          ],
          "default": "body",
          "label": "t:sections.about-challenge.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.about-challenge.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "t:sections.about-challenge.blocks.button.settings.button_label.default",
          "label": "t:sections.about-challenge.blocks.button.settings.button_label.label",
          "info": "t:sections.about-challenge.blocks.button.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.about-challenge.blocks.button.settings.button_link.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "t:sections.about-challenge.blocks.button.settings.outline_button.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.about-challenge.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
