{{ 'component-grand-prize.css' | asset_url | stylesheet_tag }}

<div class="section-grand-prize">
  <div class="page-width">
    {%- for block in section.blocks -%}
      {% case block.type %}
        {%- when 'heading' -%}
          <h2
            id="grand-prize-section"
            class="grand-prize__heading"
            {{ block.shopify_attributes }}
          >
            {{ block.settings.heading }}
          </h2>
        {%- endcase -%}
      {%- endfor -%}
    <div class="grand-prize__grid">
      <div class="grand-prize__media-item">
        <div class="grand-prize__media">
          <img src="{{ settings.image_cdn_path }}grand-prize-img.png?v=1736535304" width="100%" height="100%">
        </div>
      </div>
      <div class="grand-prize__text-item">
        <div class="grand-prize__content">
          {%- for block in section.blocks -%}
            {% case block.type %}
              {%- when 'caption' -%}
                <h3 class="grand-prize__caption">
                  {{ block.settings.caption | escape }}
                </h3>
                <ul class="grand-prize__services">
                  <li class="item-icon-1">Win $1,000 USD Cash</li>
                  <li class="item-icon-2">6 Weeks FREE 1 on 1 Coaching</li>
                  <li class="item-icon-3">3 Month Free Subscription to BiaFit <br class="m-break">Workout App</li>
                  <li class="item-icon-4">Holly's Ebook Collection</li>
                  <li class="item-icon-5">Fitness Essentials Supp Pack <br class="m-break">($250 USD Value)</li>
                  <li class="item-icon-6">Limited Edition Ultimate Glute Bands</li>
                  <li class="item-icon-7">Exclusve BiaBody Hoodie</li>
                </ul>
              {%- when 'button' -%}
                {%- if block.settings.button_label != blank -%}
                <div class="grand-prize__button-wrapper">
                  <a href="#" class="button button--primary biafit-buy-button" id="grand-prize-button">
                    Begin your transformation
                  </a>
                </div>
                {%- endif -%}
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.grand-prize.name",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.grand-prize.settings.image.label"
    },
    {
      "type": "select",
      "id": "height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.grand-prize.settings.height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.grand-prize.settings.height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.grand-prize.settings.height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.grand-prize.settings.height.options__4.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.grand-prize.settings.height.label"
    },
    {
      "type": "select",
      "id": "desktop_image_width",
      "options": [
        {
          "value": "small",
          "label": "t:sections.grand-prize.settings.desktop_image_width.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.grand-prize.settings.desktop_image_width.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.grand-prize.settings.desktop_image_width.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.grand-prize.settings.desktop_image_width.label",
      "info": "t:sections.grand-prize.settings.desktop_image_width.info"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "image_first",
          "label": "t:sections.grand-prize.settings.layout.options__1.label"
        },
        {
          "value": "text_first",
          "label": "t:sections.grand-prize.settings.layout.options__2.label"
        }
      ],
      "default": "image_first",
      "label": "t:sections.grand-prize.settings.layout.label",
      "info": "t:sections.grand-prize.settings.layout.info"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top",
          "label": "t:sections.grand-prize.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "middle",
          "label": "t:sections.grand-prize.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.grand-prize.settings.desktop_content_position.options__3.label"
        }
      ],
      "default": "top",
      "label": "t:sections.grand-prize.settings.desktop_content_position.label"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.grand-prize.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.grand-prize.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.grand-prize.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.grand-prize.settings.desktop_content_alignment.label"
    },
    {
      "type": "select",
      "id": "content_layout",
      "options": [
        {
          "value": "no-overlap",
          "label": "t:sections.grand-prize.settings.content_layout.options__1.label"
        },
        {
          "value": "overlap",
          "label": "t:sections.grand-prize.settings.content_layout.options__2.label"
        }
      ],
      "default": "no-overlap",
      "label": "t:sections.grand-prize.settings.content_layout.label"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.multirow.settings.container_color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.animation.content"
    },
    {
      "type": "select",
      "id": "image_behavior",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.animation.image_behavior.options__1.label"
        },
        {
          "value": "ambient",
          "label": "t:sections.all.animation.image_behavior.options__2.label"
        },
        {
          "value": "zoom-in",
          "label": "t:sections.all.animation.image_behavior.options__4.label"
        }
      ],
      "default": "none",
      "label": "t:sections.all.animation.image_behavior.label"
    },
    {
      "type": "header",
      "content": "Mobile layout"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.grand-prize.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.grand-prize.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.grand-prize.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.grand-prize.settings.mobile_content_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.grand-prize.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.grand-prize.blocks.heading.settings.heading.default",
          "label": "t:sections.grand-prize.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.heading_size.options__4.label"
            },
            {
              "value": "hxxl",
              "label": "t:sections.all.heading_size.options__5.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "caption",
      "name": "t:sections.grand-prize.blocks.caption.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "default": "t:sections.grand-prize.blocks.caption.settings.text.default",
          "label": "t:sections.grand-prize.blocks.caption.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "subtitle",
              "label": "t:sections.grand-prize.blocks.caption.settings.text_style.options__1.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.grand-prize.blocks.caption.settings.text_style.options__2.label"
            }
          ],
          "default": "caption-with-letter-spacing",
          "label": "t:sections.grand-prize.blocks.caption.settings.text_style.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "small",
              "label": "t:sections.grand-prize.blocks.caption.settings.caption_size.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.grand-prize.blocks.caption.settings.caption_size.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.grand-prize.blocks.caption.settings.caption_size.options__3.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.grand-prize.blocks.caption.settings.caption_size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.grand-prize.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "t:sections.grand-prize.blocks.text.settings.text.default",
          "label": "t:sections.grand-prize.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.grand-prize.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.grand-prize.blocks.text.settings.text_style.options__2.label"
            }
          ],
          "default": "body",
          "label": "t:sections.grand-prize.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.grand-prize.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "t:sections.grand-prize.blocks.button.settings.button_label.default",
          "label": "t:sections.grand-prize.blocks.button.settings.button_label.label",
          "info": "t:sections.grand-prize.blocks.button.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.grand-prize.blocks.button.settings.button_link.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "t:sections.grand-prize.blocks.button.settings.outline_button.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.grand-prize.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
