{{ 'section-support-form.css' | asset_url | stylesheet_tag }}
{{ 'section-support-form.mobile.css' | asset_url | stylesheet_tag }}

<div class="color-{{ section.settings.color_scheme }} gradient" id="contact-section">
  <div class="support page-width page-width--narrow section-{{ section.id }}-padding">
    {%- if section.settings.heading != blank -%}
      <h2 class="title">
        {{ section.settings.heading }}
      </h2>
    {%- else -%}
      <h2 class="visually-hidden">{{ 'templates.contact.form.title' | t }}</h2>
    {%- endif -%}
    {%- liquid
      assign contact_form_class = 'isolate'
      if settings.animations_reveal_on_scroll
        assign contact_form_class = 'isolate scroll-trigger animate--slide-in'
      endif
    -%}
    <div class="support__main-content">
      <div class="description">
        <h3 class="subtitle">Want <span>Personalized Support?</span></h3>
        <p class="subtitle">Work 1-on-1 with Holly for a custom experience and <br class="m-break">receive:</p>
      </div>
      <ul class="support__services">
        <li class="service-item item-1">All of the above plus</li>
        <li class="service-item item-2">6 weeks of 1-on-1 <br class="m-break">nutrition coaching</li>
        <li class="service-item item-3">Weekly coaching check-ins <br class="m-break">with Holly</li>
        <li class="service-item item-4">Personalized nutrition plan <br class="m-break">+ education for your goals</li>
        <li class="service-item item-5">Post-coaching support & <br class="m-break">nutrition guidance</li>
      </ul>
      <div class="custom__form">
        <h2 class="form__message">
          {{- 'icon-success.svg' | inline_asset_content -}}
          You message has been submitted successfully.
        </h2>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.14/iframeResizer.min.js" defer="defer"></script>
        
        {% case section.settings.partner_form_type %}
          {% when 'challenge' %}
            <iframe 
                src="https://hello.dubsado.com/public/form/view/676f1febbedad0003a27383e"
                id="customForm"
                frameborder="0" 
                width="100%"
                height="100%" 
              ></iframe>
          {% when 'homepage' %}
            <iframe src="https://hello.dubsado.com/public/form/view/6789945e8ae0c8003ae4e67e"
              id="customForm"
              frameborder="0" 
              width="100%"
              height="100%" 
            ></iframe>
        {% endcase %}
        
        <script type="text/javascript" defer="defer">
          window.addEventListener('load', e => {
            const resizeIFrame = () => {
              setTimeout(() => {
                if (iFrameResize) {
                  iFrameResize({
                    checkOrigin: false, 
                    heightCalculationMethod: "taggedElement"
                  });
                } else {
                  resizeIFrame();
                }
              }, 30);
            }
            resizeIFrame();
          });
        </script>
      </div>
      
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Support Form",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "t:sections.contact-form.settings.title.default",
      "label": "t:sections.contact-form.settings.title.label"
    },
    {
      "type": "select",
      "id": "partner_form_type",
      "label": "Partner Form Type",
      "default": "challenge",
      "options": [
        {
          "value": "homepage",
          "label": "Homepage"
        },
        {
          "value": "challenge",
          "label": "Challenge"
        },
      ],
    }
  ],
  "presets": [
  ]
}
{% endschema %}
